.cart-dropdown {
  position: absolute;
  width: 310px;
  height: 380px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  @media screen and (max-width: 800px) {
    top: 80px;
    right: 25px;
    width: 300px;
  }

  .empty-message {
    font-size: 20px;
    margin: 75px auto;
  }

  .cart-items {
    height: 350px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  button {
    margin-top: auto;
  }
}
