.sign-in-and-sign-up {
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;

    @media screen and (max-width: 800px) {
        flex-direction: column;
        width: unset;

        > *:first-child {
            margin-bottom: 50px;
        }
    }
}